*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: #f0f0f0cc;
    text-align: center;
    height: 8vh;
}

.header img{
    width: 50px;
}

.header p{
    margin-bottom: 0;
    color: #2d3493;
    font-weight: bold;
    font-size: 1.5rem;
}

.dropdowns{
    width: 48%;
}

.welcome-logout-container{
    display: flex;
    gap: 20px;
}

.welcome-logout-container p{
    font-size: 1.3rem;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}